*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.white{
    width: 100vw;
    height: 20vh;
}

.yellow{
    background-color: yellow;
    height: 80vh;
    width: 100vw;
}
main{
    
    
    
    display: flex;
    justify-content: center;
    gap: 20px;
}

main .image img{
    width: 400px;
    height: 600px;
    

}

main .image{
    margin-top: -70px;
}

.para{
    margin-top: 50px;
    text-align: center;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 45px;
    font-weight: bold;
}
p{
    margin-top: 30px;
    font-weight: 500;
    font-size: 25px;
}

button{
    padding:8px 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    
}

a{
    color: black;
}

@media  (max-width : 768px) {
    .white{
        width: 100vw;
        height: 20vh;
    }
    
    .yellow{
        background-color: yellow;
        height: 100%;
        width: 100vw;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    main .image{
        margin-top: -100px;
    }

    main .image img{
        width: 400px;
        height: 500px;
    }
    

}